<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://unpkg.com/@-webfont@latest/tabler-icons.min.css">

  <title>{{ name }} | Business Card</title>

</head>
<body>
  <button class="theme-toggle" onclick="toggleTheme()">Toggle Theme</button>

  <div class="card">
    <img src="../data/tab_logo.png" alt="{{ name }}'s avatar" class="avatar" />
    
    <h1>{{ name }}</h1>

    <p class="role">{{ title }}{% if department %} | {{ department }}{% endif %}</p>
    <p class="company">La Valeur Supermarché</p>

    <div class="socials">
      {% if location or branch %}
      <a class="social-link" href="#">
        <img src="../data/location.png" alt="Website icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px;; filter: brightness(0) invert(1);">
        <span>
          {{ location }}{% if branch %}, {{ branch }}{% endif %}
        </span>
      </a>
      {% endif %}

      {% if email %}
        <a class="social-link" href="mailto:{{ email }}">
          <img src="../data/mail.png" alt="Website icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px;; filter: brightness(0) invert(1);">
          <span>{{ email }}</span>
        </a>
      {% endif %}

      {% if phone %}
        <a class="social-link" href="tel:{{ phone }}">
          <img src="../data/phone.png" alt="Website icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px;; filter: brightness(0) invert(1);">
          <span>{{ phone }}</span>
        </a>
      {% endif %}

      {% if website %}
        <a class="social-link" href="{{ website }}" target="_blank">
          <img src="../data/world-wide-web.png" alt="Website icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px;; filter: brightness(0) invert(1);">
          <span>{{ website }}</span>
        </a>
      {% endif %}

      {% if linkedin %}
      <a class="social-link" href="{{ linkedin }}" target="_blank">
        <img src="../data/linkedin.png" alt="Website icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px;; filter: brightness(0) invert(1);">
        <span>LinkedIn</span>
      </a>
      {% endif %}
    </div>
  </div>

  <script>
    function toggleTheme() {
      const isLight = document.body.classList.toggle('light-theme');
      localStorage.setItem('theme', isLight ? 'light' : 'dark');
    }
    window.onload = () => {
      if (localStorage.getItem('theme') === 'light') {
        document.body.classList.add('light-theme');
      }
    };
  </script>
</body>
</html>
