<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://unpkg.com/@-webfont@latest/tabler-icons.min.css">

  <title>{{ first_name }} {{ last_name }} | Business Card</title>

</head>
<body>

  <div class="card">
    <img src="../data/logo.jpg" alt="{{ first_name }} {{ last_name }}'s avatar" class="avatar" />
    
    <h1>{{ first_name }} {{ last_name }}</h1>

    <p class="role">{{ job_title }}{% if department %} | {{ department }}{% endif %}</p>
    <p class="company">La Valeur Supermarché</p>

    <div class="socials">
      {% if location or branch %}
        <a class="social-link" href="#">
          <img src="../data/location.png" alt="Website icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px;; filter: brightness(0) invert(1);">
          <span>
            {{ street }}{% if city %}, {{ city }}{% endif %}{% if country %}, {{ country }}{% endif %}
          </span>
        </a>
      {% endif %}

      {% if email %}
        <a class="social-link" href="mailto:{{ email }}">
          <img src="../data/mail.png" alt="Website icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px;; filter: brightness(0) invert(1);">
          <span>{{ email }}</span>
        </a>
      {% endif %}

      {% if phone %}
        <a class="social-link" href="tel:{{ phone }}">
          <img src="../data/phone.png" alt="Website icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px;; filter: brightness(0) invert(1);">
          <span>{{ phone }}</span>
        </a>
      {% endif %}

      {% if website %}
        <a class="social-link" href="{{ website }}" target="_blank">
          <img src="../data/world-wide-web.png" alt="Website icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px;; filter: brightness(0) invert(1);">
          <span>{{ website }}</span>
        </a>
      {% endif %}

      {% if linkedin %}
      <a class="social-link" href="{{ linkedin }}" target="_blank">
        <img src="../data/linkedin.png" alt="Website icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px;; filter: brightness(0) invert(1);">
        <span>LinkedIn</span>
      </a>
      {% endif %}
    </div>
    <div class="save-contact">
    {% set first_name = first_name.lower() %}
    {% set last_name = last_name.lower() %}
    <a href="../vcards/{{ first_name }}_{{ last_name }}.vcf" download="{{ first_name }}_{{ last_name }}.vcf" class="save-button">
        Save Contact
  </a>
  </div>
  </div>
</body>
</html>
