<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="../css/links_style.css">
  <link href="https://unpkg.com/@-webfont@latest/tabler-icons.min.css">

  <title>{{ company }}</title>

</head>
<body>

  <div class="card">
    <img src="../data/logo.jpg" alt="{{ first_name }} {{ last_name }}'s avatar" class="avatar" />
    
    <h1>{{ company }} Connections</h1>

    <p class="role">{% if department %} {{ bio }} {% endif %}</p>

    <div class="socials">
      {% if linkedin %}
        <a class="social-link" href="{{ linkedin }}" target="_blank">
          <img src="../data/linkedin.png" alt="LinkedIn icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px; filter: brightness(0) invert(1);">
        </a>
      {% endif %}

      {% if twitter %}
        <a class="social-link" href="{{ twitter }}" target="_blank">
          <img src="../data/twitter.png" alt="Twitter icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px; filter: brightness(0) invert(1);">
          <span>Twitter</span>
        </a>
      {% endif %}

      {% if instagram %}
        <a class="social-link" href="{{ instagram }}" target="_blank">
          <img src="../data/instagram.png" alt="Instagram icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px; filter: brightness(0) invert(1);">
        </a>
      {% endif %}

      {% if facebook %}
        <a class="social-link" href="{{ facebook }}" target="_blank">
          <img src="../data/facebook.png" alt="Facebook icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px; filter: brightness(0) invert(1);">
        </a>
      {% endif %}

    </div>
    <div class="entries"> 
  {% if website_link %}
    <a class="entries-link" href="https://{{ website_link }}" target="_blank">
      <img src="../data/world-wide-web.png" alt="Website icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px; filter: brightness(0) invert(1);">
      <span>{{ website_phrase }}</span>
    </a>
  {% endif %}
  
  

  {% if location %}
    <a class="entries-link" href="https://www.google.com/maps/search/La+Valeur/@33.9271085,35.5615685,13z/data=!3m1!4b1?entry=ttu&g_ep=EgoyMDI1MDYyMy4yIKXMDSoASAFQAw%3D%3D">
      <img src="../data/location.png" alt="Location icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px; filter: brightness(0) invert(1);">
      <span>{% if city %} {{ location }} {% endif %}</span>
    </a>
  {% endif %}

  <div class="dropdown-wrapper">

  <div class="dropdown" id="websiteDropdown">
    <button class="dropdown-toggle" onclick="toggleDropdown()">
      <img src="../data/promotions.png" alt="Promotions icon" width="20" height="20">
      <span>Promotions</span>
    </button>
    <div class="dropdown-menu" id="dropdownMenu">
      <a href="https://lavaleursupermarche.com/shop/stores/4/Ajaltoun/section/1/Promotions" target="_blank">Ajaltoun Promotions</a>
      <a href="https://lavaleursupermarche.com/shop/stores/2/Mazraat%20Yachouh/section/1/Promotions" target="_blank">Mazraat Yachouh Promotions</a>
      <a href="https://lavaleursupermarche.com/shop/stores/3/Bet%20el%20Kikko/section/1/Promotions" target="_blank">Beit el Kikko Promotions</a>
      <a href="https://lavaleursupermarche.com/shop/stores/5/Zalka/section/1/Promotions" target="_blank">Zalka Promotions</a>
      <a href="https://lavaleursupermarche.com/shop/stores/131/Achrafieh/section/1/Promotions" target="_blank">Achrafieh Promotions</a>
      <a href="https://lavaleursupermarche.com/shop/stores/4/Ajaltoun/section/1/Promotions" target="_blank">Ajaltoun Promotions</a>
      <a href="https://lavaleursupermarche.com/shop/stores/2/Mazraat%20Yachouh/section/1/Promotions" target="_blank">Mazraat Yachouh Promotions</a>
      <a href="https://lavaleursupermarche.com/shop/stores/3/Bet%20el%20Kikko/section/1/Promotions" target="_blank">Beit el Kikko Promotions</a>
      <a href="https://lavaleursupermarche.com/shop/stores/5/Zalka/section/1/Promotions" target="_blank">Zalka Promotions</a>
      <a href="https://lavaleursupermarche.com/shop/stores/131/Achrafieh/section/1/Promotions" target="_blank">Achrafieh Promotions</a>
    </div>
  </div>
  </div>

  {% if cell_phone %}
    <a class="entries-link" href="tel:{{ work_phone }}">
      <img src="../data/work_phone.png" alt="Work phone icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px; filter: brightness(0) invert(1);">
      <span>{{ work_phone }}</span>
    </a>
  {% endif %}

  {% if work_email %}
    <a class="entries-link" href="mailto:{{ work_email }}">
      <img src="../data/mail.png" alt="Work email icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px; filter: brightness(0) invert(1);">
      <span>{{ work_email }}</span>
    </a>
  {% endif %}

  {% if cell_phone %}
    <a class="entries-link" href="tel:{{ cell_phone }}">
      <img src="../data/phone.png" alt="Cell phone icon" width="20" height="20" style="vertical-align: middle; margin-right: 4px; filter: brightness(0) invert(1);">
      <span>{{ cell_phone }}</span>
    </a>
  {% endif %}
  
</div>

  </div>
  <script>
  function toggleDropdown() {
    const menu = document.getElementById("dropdownMenu");
    menu.classList.toggle("show");
  }

  window.addEventListener("click", function(e) {
    const dropdown = document.getElementById("websiteDropdown");
    const menu = document.getElementById("dropdownMenu");
    if (!dropdown.contains(e.target)) {
      menu.classList.remove("show");
    }
  });
</script>




</body>
</html>